.Wrapper {
  text-align: center;
  width: 40%;
  margin: auto;
  margin-bottom: 5vh;
}

@media only screen and (max-width: 800px) {
  .Wrapper {
    width: 60%;
  }
  .Header-header {
    height: 40%;
  }
}

@media only screen and (max-width: 450px) {
  .Wrapper {
    width: 90%;
  }
  .Header-header {
    height: 30%;
  }
}

.Header-logo {
  height: 35vmin;
  margin-top: 6vh;
}

.Header-header {
  height: 64%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
